<%- include("partials/header") %>



<!-- New System -->
<section id="newSystem">
    <div class="system">
        <h1>My system</h1>
    </div>

    <div class="row">

        <div class="new-system-column col-lg-6 col-md-6">
             <!-- indoor system  -->
            <div class="card">
                <div class="card-header">
                <h2>Living room</h2>
                </div>
                <div class="card-body">
                <h3>Status: Healthy</h3>
                <div class="d-grid gap-2 d-sm-block">
                    <a href="/dashboard/livingRoom"><button class="set-alarm-btn btn btn-outline-success btn-lg" type="button">more info</button></a>
                </div>
                </div>
            </div>
        </div>

        <div class="new-system-column col-lg-6 col-md-6">
            <!-- outdoor system Fireplace -->
            <div class="card">
                <div class="card-header">
                <h2>Fireplace</h2>
                </div>
                <div class="card-body">
                    <h3>Status: Healthy</h3>  <!--isws valw to status na vgainei me vash to AQI kai to AQI na fygei -->
                    <div class="d-grid gap-2 d-sm-block">
                        <a href="/dashboard/fireplace"><button class="set-alarm-btn btn btn-outline-success btn-lg" type="button">more info</button></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div>
            <a class="set-alarm-btn btn btn-primary btn-lg" href="#" role="button">Set alarm</a>
        </div> -->

        <!-- <div class="d-grid gap-2 d-sm-block">
            <button class="set-alarm-btn btn btn-outline-success btn-lg" type="button">Set alarm</button>
        </div> -->

            
    </div> 

</section>


<%- include("partials/footer") %> 