<%- include("partials/header") %>

<!-- New System -->
<section id="newSystem">
    <div class="system">
        <h1> Outdoor Sensors</h1>
    </div>

    <div class="row">

        <div class="new-system-column col-lg-6 col-md-6">
            <!-- outdoor system  -->
            <div class="card">
                <div class="card-header">
                <h2>Fireplace</h2>
                </div>
                <div class="card-body">
                    <h3>CO2 : <span><input class="alarm-inputs" type="text"></span></h3>  <!--isws valw to status na vgainei me vash to AQI kai to AQI na fygei -->
                    <h3>AQI : <span><input class="alarm-inputs" type="text"></span></h3>
                    <h3>VOC : <span><input class="alarm-inputs" type="text"></span></h3>
                    <h3>Temp: <span><input class="alarm-inputs" type="text"></span></h3>
                </div>
            </div>
        </div>

    </div> 

</section>

<%- include("partials/footer") %> 