<%- include("partials/header") %>


<!-- New System -->
<section id="newSystem">
    <div class="system">
        <h1> My QR-code</h1>
    </div>

    <div class="row">

        <div class="new-system-column col-lg-6 col-md-6">
             <!-- indoor system  -->
            <div class="card">
                <div class="card-header">
                <h2>Living room</h2>
                </div>
                <div class="card-body">
                    <!-- <img src="../images/living-roomQR.png" style="width:200px;height:200px" alt="indoor Sensors values"> -->

                    <img src="../images/qrcode_guest.png" style="width:150px;height:150px;" alt="indoor Sensors values">

                </div>
                

            </div>
        </div>

        <div class="new-system-column col-lg-6 col-md-6">
            <!-- outdoor system Fireplace -->
            <div class="card">
                <div class="card-header">
                <h2>Fireplace</h2>
                </div>
                <div class="card-body">
                    <img src="../images/qrcode_guest.png" style="width:150px;height:150px;" alt="outdoor Sensors values">
                    <!-- <img src="../images/fireplaceQR.png" style="width:200px;height:200px" alt="outdoor Sensors values"> -->

                </div>
            </div>
        </div>
        
        
      <!-- link button
      <script src="https://apps.elfsight.com/p/platform.js" defer></script>
      <div class="elfsight-app-291c62fa-5e71-425d-9b5a-817afc97dd10"></div> -->
</section>

<%- include("partials/footer") %> 

<!-- link button 2
<script>
    var a2a_config = a2a_config || {};
    a2a_config.overlays = a2a_config.overlays || [];
    a2a_config.overlays.push({
        services: ['facebook_messenger', 'whatsapp'],
        size: '30',
        
    });
    </script>
    
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    
    <img src="../images/living-roomQR.png" height="291" width="440" alt="indoor Sensors values"> -->