body {
    background-color: #E8ECEF;
  }
  
  .centered {
      padding-top: 5rem;
      text-align: center;
  }
  
  h1{
    padding-top: 5rem;
  }
  img{
    border-radius: 50%;
  }
  /* .secret-text {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background-color: #000;
  } */